In [1]:
import pandas as pd

df = pd.read_excel('./punc_product.xlsx')
df.info()%%!
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4793 entries, 0 to 4792
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4793 non-null   int64
 1   punc_product  4793 non-null   object
dtypes: int64(1), object(1)
memory usage: 75.0+ KB

   Unnamed: 0                                       punc_product
0           0                                          Znie P100
1           1  ACTIVE OPTICAL CABLE WITH TRANSCEIVER AOCQQ100...
2           2  ACTIVE OPTICAL CABLE WITH TRANSCEIVER AOCSS25G...
3           3      Gateway Manager Support SystemGMSS  459A00756
4           4                              CONNECTOR TA34P58SPBK

In [2]:
df['punc_product'].head()

0                                            Znie P100
1    ACTIVE OPTICAL CABLE WITH TRANSCEIVER AOCQQ100...
2    ACTIVE OPTICAL CABLE WITH TRANSCEIVER AOCSS25G...
3        Gateway Manager Support SystemGMSS  459A00756
4                                CONNECTOR TA34P58SPBK
Name: punc_product, dtype: object

In [2]:
import googletrans
from googletrans import Translator
import time

translated_product = []

cnt = 4500

file = open('trans_text2_product.txt', 'a', encoding='utf-8')

while(cnt != len(df['punc_product'])):
    try:
        for i in range(cnt, len(df['punc_product'])):
            text = df['punc_product'].iloc[i]
            translator = Translator()
            trans_text = translator.translate(text, src=translator.detect(text).lang, dest='en').text
            
            file.write(trans_text+'\n')
            file.write(('-'*50)+'\n')
            
            translated_product.append(trans_text)
            time.sleep(3)
            cnt += 1
            print(cnt, end=' ')
    except:
        print('에러 발생')
        time.sleep(50)

file.close()
    
# print(translated[0])

4501 4502 4503 4504 4505 4506 4507 4508 4509 4510 4511 4512 4513 4514 4515 4516 4517 4518 4519 4520 4521 4522 4523 4524 4525 4526 4527 에러 발생
4528 4529 4530 4531 4532 4533 4534 4535 4536 4537 4538 4539 4540 4541 4542 4543 4544 4545 4546 4547 4548 4549 4550 4551 4552 4553 4554 4555 4556 4557 4558 4559 에러 발생
4560 4561 4562 4563 4564 4565 4566 4567 4568 4569 4570 4571 4572 4573 4574 4575 4576 4577 4578 4579 4580 4581 4582 4583 4584 4585 4586 4587 4588 4589 4590 4591 4592 4593 4594 4595 4596 4597 4598 4599 4600 4601 4602 4603 4604 4605 4606 4607 4608 4609 4610 4611 4612 4613 4614 4615 4616 4617 4618 4619 4620 4621 4622 4623 4624 4625 4626 4627 4628 4629 4630 4631 4632 4633 4634 4635 4636 4637 4638 4639 4640 4641 4642 4643 4644 4645 4646 4647 4648 4649 4650 4651 4652 4653 4654 4655 4656 4657 4658 4659 4660 4661 4662 4663 4664 4665 4666 4667 4668 4669 4670 4671 4672 4673 4674 4675 4676 4677 4678 4679 4680 4681 4682 4683 4684 4685 4686 4687 4688 4689 4690 4691 4692 4693 4694 4695 4696 4697 4698 4699 4700 4701 4702 4703 4704 4705 4706 4707 4708 4709 4710 4711 4712 4713 4714 4715 4716 4717 4718 4719 4720 4721 4722 4723 4724 4725 4726 4727 4728 4729 4730 4731 4732 4733 4734 4735 4736 4737 4738 4739 4740 4741 4742 4743 4744 4745 4746 4747 4748 4749 4750 4751 4752 4753 4754 4755 4756 4757 4758 4759 4760 4761 4762 4763 4764 4765 4766 4767 4768 4769 4770 4771 4772 4773 4774 4775 4776 에러 발생
4777 4778 4779 4780 4781 4782 4783 4784 4785 4786 4787 4788 4789 4790 4791 4792 4793

In [3]:
import pandas as pd

data = {'translated_product_4500_end': translated_product}
df = pd.DataFrame(data)

In [5]:
df.tail()

                                translated_product_290
188             RS-232C INTERFACE BLOCK ; FX2N-232IF ;
189  FX3U CC-Link Interface Special Block ; FX3U-64...
190      BRACKET-CAMERA-CHASSIS ; FC09-007469A ; ADC12
191  Embedded Die Substrate (EDS);Kandaon (Qet5100m...
192  MCOs Package Substrate ; FCBGA(Flip Chip Ball ...

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 1 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   translated_product_506_1119  612 non-null    object
dtypes: object(1)
memory usage: 4.9+ KB

In [4]:
import os
os.getcwd()
os.chdir('./dataset')

In [5]:
df.to_excel('85product_trans_4500_end.xlsx')